.parent{
  display: flex;
  justify-content: center;
  background: var(--background-color);
  background-image: url('../assets/images/background/background_2.jpg');
  background-size: cover;
}

.sub-parent{
  height: 100vh;
  width: 100vw;
}


@media screen and (min-width: 480px) {
  .sub-parent {
    width: 450px;
    overflow-y: scroll;
  }
}