<div>
  <!-- use this as a guide for full CRUD  -->
  <!-- <h1>Item List</h1>
  <ul>
    <li *ngFor="let item of items">
      {{ item.name }} - {{ item.quantity }} - ${{ item.price }}
      <button (click)="deleteItem(item._id||'')">Delete</button>
    </li>
  </ul>

  <h2>Add New Item</h2>
  <form (ngSubmit)="addItem()">
    <input [(ngModel)]="newItem.name" name="name" placeholder="Name" required>
    <input [(ngModel)]="newItem.quantity" name="quantity" placeholder="Quantity" type="number" required>
    <input [(ngModel)]="newItem.price" name="price" placeholder="Price" type="number" required>
    <button type="submit">Add</button>
  </form>
</div> -->


<div class="parent">
 <div
  class="sub-parent"
  [ngSwitch]="page">
    <app-new-game 
      *ngSwitchCase="'newGame'" 
      (pokemonSubmit)="transition($event)"
      >
    </app-new-game>
    <app-player 
      [myPokemons]="myPokemon" 
      *ngSwitchCase="'player'" 
      (pokemonSubmit)="transition($event)"
      >
    </app-player>
    <app-pre-battle
      [myPokemons]="myPokemon"
      [dbMoves]="dbMove"
      [gymLeaders]="gymLeaders"
      [pokemonObj]="pokemonObj"
      *ngSwitchCase="'pre-battle'"
      (pokemonSubmit)="transition($event)"
      >
    </app-pre-battle>
  </div>
</div>

