

.changeBackground{
  -webkit-transition: background-color 2000ms linear;
  -ms-transition: background-color 2000ms linear;
  transition: background-color 2000ms linear;
}

.changeToNormal{
}



.on-going{
  display: flex;
  flex-direction: column;

  .idleAnimationNpc{
    animation-name: idlenpc;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-transition: all 0.9s ease;
       -moz-transition: all 0.9s ease;
         -o-transition: all 0.9s ease;
            transition: all 0.9s ease;
    animation-direction: alternate;
  }

  @keyframes idlenpc {
    50%{
      margin-right: 10px;
      transform: rotateZ(-5deg);
    }
    55%{
      transform: rotateZ(0deg);
    }
    100%{
      margin-right: 0px;
    }
   }

 .idleAnimationPlayer{
  animation-name: idleplayer;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  -webkit-transition: all 0.9s ease;
     -moz-transition: all 0.9s ease;
       -o-transition: all 0.9s ease;
          transition: all 0.9s ease;
  animation-direction: alternate;
 }
 

 @keyframes idleplayer {
  50%{
    margin-left: 10px;
    transform: rotateZ(5deg);
  }
  55%{
    transform: rotateZ(0deg);
  }
  100%{
    margin-left: 0px;
  }
 }

  .powerupfx{
    animation: aura 2s;
    opacity: 1;
  }

  @keyframes aura {
    80%{
      opacity: 1;
      transform: rotateY(0deg);
    }
    85%{
      opacity: .2;
      transform: rotateY(30deg);
    }
    90%{
      opacity: 1;
      transform: rotateY(0deg);
    }
    95%{
      opacity: .2;
    }
    98%{
      opacity: 1;
      transform: rotateY(30deg);
    }
    100%{
      opacity: .2;
      transform: rotateY(0deg);
    }
  }

  .buffFx{
    animation: buff 2s;
  }

  @keyframes buff {
    40%{
      margin-bottom: 0px;
    }
    50%{
      transform: rotateY(0deg);
      margin-bottom: 100px;
    }
    100%{
      margin-bottom: 100px;
      transform: rotateY(180deg);
    }
  }


  .npcPokemon{
    animation: npcMove 1s;
  }

  .pokemonFade{
    opacity: 1;
    animation: faded 2s;
  }

  .playerPhysical{
    height: 25vh;
    position: fixed;
    z-index: 99;
    margin-left: 80px;
    margin-top: 100px;
    animation: playerPhysicalAttack 1.5s;
    opacity: 0;
  }

  .attackFx{
    position: fixed;
    height: 25vh;
    z-index: 99;
    animation: fx 1.5s;
    opacity: 0;
  }

  @keyframes fx {
    0%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
  }

  .npcPhysical{
    height: 25vh;
    position: fixed;
    z-index: 99;
    margin-left: 100px;
    margin-top: 100px;
    animation: npcPhysicalAttack 1.5s;
    opacity: 0;
  }

  @keyframes npcPhysicalAttack {
    5%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    60%{
      opacity: 1;
      transform: rotateZ(-5deg);
    }
    80%{
      opacity: 1;
      margin-left: 80px;
      margin-top: 105px;
      transform: rotateZ(-25deg);
    }
    85%{
      opacity: 1;
      transform: rotateZ(0deg);
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes playerPhysicalAttack {
    5%{
      opacity: 1;
    }
    50%{
      opacity: 1;
      transform: rotateZ(0deg);
    }
    55%{
      opacity: 1;
      transform: rotateZ(15deg);
      margin-left: 120px;
      margin-top: 25px;
    }
    70%{
      margin-left: 120px;
      margin-top: 25px;
    }
    80%{
      transform: rotateZ(0deg);
      opacity: 1;
    }
    100%{
      opacity: 1;
    }
  }


  .npcPokemonMelee{
    width: 30vw;
    opacity: 1;
    animation: faded 2s;
  }

  @keyframes faded {
    10%{
      opacity: .5;
    }
    20%{
      opacity: 0;
    }
    79%{
      opacity: 0;
    }
    99%{
      opacity: 0;
    }
    100%{
      opacity: 0.5;
    }
  }

  .playerPokemon{
    animation: playerMove 1s;
  }

  .faintedPokemon{
    animation: fainted 2s;
    opacity: 0;
    height: 25vh;
  }
}

@keyframes fainted {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: .5;
  }
  100%{
    opacity: 0;
  }
}

@keyframes npcMove {
  30%{
    padding-right: 50px;
    transform: rotateZ(-25deg);
  }
  35%{
    transform: rotateZ(0deg);
  }
  100%{
    padding-right: 0px;
  }
}

@keyframes playerMove {
  25%{
    transform: rotateZ(0deg)
  }
  30%{
    padding-left: 60px;
    transform: rotateZ(10deg);
  }
  75%{
    padding-left: 60px;
    transform: rotateZ(10deg);
  }
  100%{
    padding-left: 0px;
    transform: rotateZ(0deg)
  }
  
}

.damageReceived{
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
   -ms-transform: rotate(-45deg); 
    -o-transform: rotate(-45deg); 
       transform: rotate(-45deg);
 -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865482, M12=0.7071067811865466, M21=-0.7071067811865466, M22=0.7071067811865482, SizingMethod='auto expand')";
 filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865482, M12=0.7071067811865466, M21=-0.7071067811865466, M22=0.7071067811865482, SizingMethod='auto expand');
 display: block;
 position: absolute;
 font-weight: bolder;
 font-size: xx-large;
 color: red;
 animation: fallingText 1s;
 opacity: 0;
}


@keyframes fallingText {
  0%{
    margin-top: 0px;
    opacity: 1;
  }
  100%{
    margin-top: 50px;
    opacity: 1;
  }
}


.battleDone{
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: center;

  .pokemonImage{
    width: 30vw;
  }

  .parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .loseOutcome{
    opacity: 1;
    position: fixed;
    width: 30vw;
    animation: showCross 5s;
  }

  .outcomeBanner{
    opacity: 1;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    animation: bannerShow 10s;

    h2{
      color: white;
      text-align: center;
    }
  }
}

@keyframes showCross {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes bannerShow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  .battleDone {

    .pokemonImage{
      width: 10vw;
    }

    .loseOutcome{
      width: 10vw;
    }
  }
}