.on-going{
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  background-image: url('../../../assets/images/background/arena.jpg');
  background-size: contain;
  

  .powerupfx{
    animation: aura 2s;
    opacity: 1;
  }

  @keyframes aura {
    80%{
      opacity: 1;
      transform: rotateY(0deg);
    }
    85%{
      opacity: .2;
      transform: rotateY(30deg);
    }
    90%{
      opacity: 1;
      transform: rotateY(0deg);
    }
    95%{
      opacity: .2;
    }
    98%{
      opacity: 1;
      transform: rotateY(30deg);
    }
    100%{
      opacity: .2;
      transform: rotateY(0deg);
    }
  }

  .buffFx{
    animation: buff 2s;
    opacity: 0;
  }

  @keyframes buff {
    40%{
      margin-bottom: 0px;
    }
    49%{
      opacity: 0;
    }
    50%{
      opacity: 1;
      transform: rotateY(0deg);
      margin-bottom: 100px;
    }
    100%{
      opacity: 1;
      margin-bottom: 100px;
      transform: rotateY(180deg);
    }
  }

  .npcPokemon{
    animation: npcMove 1s;
  }

  .pokemonFade{
    opacity: 1;
    height: 18vh;
    animation: faded 2s;
  }

  .playerPhysical{
    height: 18vh;
    position: fixed;
    z-index: 99;
    margin-left: 80px;
    margin-top: 200px;
    animation: playerPhysicalAttack 1.5s;
    opacity: 0;
  }
  .attackFx{
    position: fixed;
    height: 23vh;
    z-index: 99;
    animation: fx 1.5s;
    opacity: 0;
  }

  @keyframes fx {
    0%{
      opacity: 1;
    }
    90%{
      opacity: 1;
    }
  }

  .npcPhysical{
    height: 18vh;
    position: fixed;
    z-index: 1;
    margin-left: 170px;
    margin-top: -10px;
    animation: npcPhysicalAttack 1.5s;
    opacity: 0;
  }

  .playerIdle {
    padding-left: 8vw;
    margin-bottom: 5vh;
    position: relative;
    z-index: 5;
  }

  .npcIdle{
    display: flex; 
    justify-content: flex-end; 
    padding-right: 8vw;
    margin-top: 5vh;
  }
  
  .megaNpcPhysical{
    height: 18vh;
    position: fixed;
    background: url(https://opengameart.org/sites/default/files/Air%20Shuriken%20128x128.png);
    background-size: 100%;
    z-index: 1;
    margin-left: 170px;
    margin-top: -60px;
    animation: npcPhysicalAttack 1.5s;
    opacity: 0;    
  }

  .playerOption{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    margin-top: -25vh;
    z-index: 20;
    padding: 20px;
  }

  @keyframes npcPhysicalAttack {
    5%{
      opacity: 1;
      margin-left: 140px;
    }
    50%{
      opacity: 1;
      height: 18vh;
    }
    60%{
      opacity: 1;
      transform: rotateZ(0deg);
      height: 18vh;
    }
    75%{
      opacity: 1;
      margin-left: 80px;
      margin-top: 10px;
      height: 18vh;
      transform: rotateZ(-5deg);
    }
    85%{
      opacity: 1;
      transform: rotateZ(0deg);
      height: 18vh;
    }
    100%{
      opacity: 1;
      height: 18vh;
      margin-left: 140px;
      margin-top: 0px;
    }
  }

  @keyframes playerPhysicalAttack {
    1%{
      opacity: 1;
      height: 18vh;
      margin-top: 200px;
    }
    30%{
      margin-top: 140px;
    }
    50%{
      opacity: 1;
      transform: rotateZ(0deg);
      margin-top: 80px;
      height: 18vh;
    }
    55%{
      opacity: 1;
      transform: rotateZ(5deg);
      margin-left: 120px;
      margin-top: 80px;
      height: 18vh;
    }
    70%{
      margin-left: 120px;
      margin-top: 80px;
      height: 18vh;
    }
    80%{
      transform: rotateZ(0deg);
      opacity: 1;
      height: 18vh;
    }
    100%{
      opacity: 1;
      height: 18vh;
      margin-top: 170px;
      margin-left: 80px;
    }
  }

  @keyframes faded {
    10%{
      opacity: .5;
    }
    20%{
      opacity: 0;
    }
    79%{
      opacity: 0;
    }
    99%{
      opacity: 0;
    }
    100%{
      opacity: 0.5;
    }
  }

  .playerPokemon{
    animation: playerMove 1s;
    height: 18vh;
  }
  
  .faintedPokemonNpc{
    animation: fainted 2s;
    opacity: 0;
    height: 18vh;
  }

  .faintedPokemon{
    animation: fainted 2s;
    opacity: 0;
    height: 18vh;
  }
  .ordinaryPokemonImg{
    height: 18vh;
  }

  .auraShuriken{
    height: 18vh;
    background: url(https://opengameart.org/sites/default/files/Air%20Shuriken%20128x128.png);
    background-size: 100%;
  }
}

@keyframes fainted {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  70%{
    opacity: .5;
  }
  100%{
    opacity: 0;
  }
}

@keyframes npcMove {
  30%{
    padding-right: 50px;
    transform: rotateZ(-25deg);
  }
  35%{
    transform: rotateZ(0deg);
  }
  100%{
    padding-right: 0px;
  }
}

@keyframes playerMove {
  25%{
    transform: rotateZ(0deg)
  }
  50%{
    padding-left: 60px;
    transform: rotateZ(6deg);
  }
  75%{
    padding-left: 60px;
    transform: rotateZ(2deg);
  }
  100%{
    padding-left: 0px;
    transform: rotateZ(0deg)
  }
  
}

.damageReceived{
 display: block;
 position: absolute;
 font-weight: bolder;
 font-size: xx-large;
 color: red;
 animation: fallingText 1s;
 opacity: 0;
}


@keyframes fallingText {
  0%{
    margin-top: 0px;
    opacity: 1;
  }
  100%{
    margin-top: 50px;
    opacity: 1;
  }
}


.battleDone{
  display: flex;
  flex-direction: column;
  height: 70vh;
  align-items: center;
  justify-content: center;

  .pokemonImage{
    height: 15vh;
  }

  .parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .loseOutcome{
    opacity: 1;
    position: fixed;
    width: 30vw;
    animation: showCross 5s;
  }

  .outcomeBanner{
    opacity: 1;
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    animation: bannerShow 10s;

    h2{
      color: white;
      text-align: center;
    }
  }
}

@keyframes showCross {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes bannerShow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  .battleDone {

    .pokemonImage{
      width: 7.5vw;
    }

    .attackFx{
      width: 10vw;
    }

    .loseOutcome{
      width: 7.5vw;
    }
  }
}