<div [ngSwitch]="battlePhase">
  <div
  class="on-going"
   *ngSwitchCase="'on-going'">
    <div *ngIf="this.currentPlayer2.length>0"
    style="
    display: flex;
    justify-content: flex-end;
    "
    >
    <div [ngStyle]="{
      'background-color':'green',
      'height':'2vh',
      'position': 'fixed',
      'width': this.npcHpPercentage
    }"></div>
    <span>
      <div *ngIf="this.currentPlayer2[0].currentHp>=0;else faintedNpc">
        <img
        alt=""
          [ngClass]="this.npcAttackMotion?'npcPokemon':''"
          [src]="this.currentPlayer2[0].front_image" 
        style="
        height: 50vw;
        " 
        />
    </div>
    <ng-template #faintedNpc>
      <img
        alt=""
        class="faintedPokemon"
        [src]="this.currentPlayer2[0].front_image" 
      style="
      height: 50vw;
      " 
      />
    </ng-template>
    </span>
    </div>
    <div *ngIf="this.currentPlayer1.length>0"
    style="
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    "
    >
      <span>
        <div *ngIf="this.currentPlayer1[0].currentHp>0;else faintedPlayer">
          <img
          alt=""
          [ngClass]="this.playerAttackMotion?'playerPokemon':''"
          [src]="this.currentPlayer1[0].back_image" 
          style="
          height: 50vw;
          " 
          />
      </div>
      <ng-template #faintedPlayer>
        <img
        alt=""
        class="faintedPokemon"
        [src]="this.currentPlayer1[0].back_image" 
        style="
        height: 50vw;
        " 
        />
      </ng-template>
      </span>
      <div [ngStyle]="{
        'background-color':'green',
        'height':'2vh',
        'position': 'relative',
        'width': this.playerHpPercentage
      }"></div>
    </div>
    <div [ngSwitch]="playerOption"
    style="display: flex; flex-direction: column; justify-content: center;">
    <div *ngSwitchCase="'fight'">
      <div         
      *ngIf="!this.npcAttackMotion&&!this.playerAttackMotion">
        <div
        style="
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        "
        *ngFor="let move of this.currentPlayer1[0].moves">
          <button (click)="this.chosenMove(move)" style="width: 40vw;">{{move.name}}</button>
          </div>
          <div *ngIf="this.currentPlayer1" (click)="this.decisionOption('default')"
          style="text-align: center;"
          >back</div>
        </div>
      </div>
      <div *ngSwitchCase="'default'">
        <div
        *ngIf="!this.npcAttackMotion&&!this.playerAttackMotion"
        style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5px;
        align-items: center;
        ">
        <button (click)="this.decisionOption('fight')" style="width: 40vw;">Fight</button>
        <button *ngIf="this.player1.length!==0" (click)="this.decisionOption('swap')" style="width: 40vw;">Swap</button>
        </div>
      </div>
      <div *ngSwitchCase="'swap'">
        <div 
        style="
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        align-items: center;
        "
        *ngFor="let pokemon of this.player1">
          <button (click)="this.swapOption(pokemon)" style="width: 40vw;">{{pokemon.name}}</button>
        </div>
        <div *ngIf="this.currentPlayer1" (click)="this.decisionOption('default')"
        style="text-align: center;"
        >back</div>
      </div>
    </div>
  </div>

  <div
  class="battleDone"
   *ngSwitchCase="'battle-done'">
    <div class="parent">
      <span 
      *ngFor="let pokemon of this.tempPokemonContainer2"
      >
        <img 
        alt=""
        *ngIf="pokemon.currentHp<=0"
        class="loseOutcome"
        src="https://static.vecteezy.com/system/resources/previews/017/178/056/original/red-cross-mark-on-transparent-background-free-png.png"
         />
         <img
         alt=""
         class="pokemonImage"
         [src]="pokemon.front_image" />
      </span>
    </div>
    <div class="parent">
      <span *ngFor="let pokemon of this.tempPokemonContainer1">
        <img 
          alt=""
          *ngIf="pokemon.currentHp<=0"
          class="loseOutcome"
          src="https://static.vecteezy.com/system/resources/previews/017/178/056/original/red-cross-mark-on-transparent-background-free-png.png"
           />
           <img
           alt=""
           class="pokemon"
            [src]="pokemon.front_image" />
      </span>
    </div>
    <div 
    *ngIf="this.outcome=='win';else lose"
    class="outcomeBanner"
    >
      <div>
        <h2>Congratulations you have defeated {{this.leaderInfo.name}}!</h2>
        <div style="display: flex; flex-direction: column; align-items: center;">
          <img
          alt=""
          src={{this.leaderInfo.gymBadge}}
          />
          <h2>You received a badge!!!</h2>
        </div>
      </div>
    </div>
    <ng-template
    class="outcomeBanner"
     #lose>
      <h2>You lost!!!</h2>
    </ng-template>
  </div>
</div>