<div  *ngIf="this.player2.length>0||this.currentPlayer2.length>0"
style="
display: flex;
justify-content: flex-end;
"
>
  <span>
    <span>{{this.currentPlayer2[0].currentHp}}/{{this.currentPlayer2[0].maxHp}}</span>
    <img [src]="this.currentPlayer2[0].front_image" 
    style="
    height: 50vw;
    " 
    />
  </span>
</div>
<div *ngIf="this.currentPlayer1.length>0"
style="
display: flex;
justify-content: flex-start;
"
>
  <span>
    <img [src]="this.currentPlayer1[0].back_image" 
    style="
    height: 50vw;
    " 
    />
    <span>{{this.currentPlayer1[0].currentHp}}/{{this.currentPlayer1[0].maxHp}}</span>
  </span>
</div>
<div [ngSwitch]="playerOption"
 style="display: flex; flex-direction: column; justify-content: center;">
 <div *ngSwitchCase="'fight'">
    <div
    style="
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    "
    *ngFor="let move of this.currentPlayer1[0].moves">
      <button (click)="this.chosenMove(move)" style="width: 40vw;">{{move.name}}</button>
    </div>
    <div *ngIf="this.currentPlayer1" (click)="this.decisionOption('default')"
    style="text-align: center;"
    >back</div>
  </div>
  <div *ngSwitchCase="'default'">
    <div
    style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
    ">
    <button (click)="this.decisionOption('fight')" style="width: 40vw;">Fight</button>
    <button *ngIf="this.player1.length!==0" (click)="this.decisionOption('swap')" style="width: 40vw;">Swap</button>
    </div>
  </div>
  <div *ngSwitchCase="'swap'">
    <div 
    style="
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    align-items: center;
    "
    *ngFor="let pokemon of this.player1">
      <button (click)="this.swapOption(pokemon)" style="width: 40vw;">{{pokemon.name}}</button>
    </div>
    <div *ngIf="this.currentPlayer1" (click)="this.decisionOption('default')"
    style="text-align: center;"
    >back</div>
  </div>
</div>