<div>
  <h1>User Information</h1>
  <p><strong>Username:</strong> {{ username }}</p>
  <p><strong>Email:</strong> {{ email }}</p>
  
  <h2>Pokemons</h2>
  <ul>
    <li *ngFor="let pokemon of pokemons">{{ pokemon }}</li>
  </ul>
  
  <h2>Statistics</h2>
  <p><strong>Victories:</strong> {{ victory }}</p>
  <p><strong>Chance:</strong> {{ chance }}%</p>
</div>

<div *ngIf="pokemons.length==6; else noSixPokemons">
  <button><a href="pre-battle">Register</a></button>
</div>

<ng-template #noSixPokemons>
  <button><a href="new-game">Grab Pokemons</a></button>
</ng-template>

<button (click)="updateDb()">Save</button>