<div [ngSwitch]="battlePhase">
  <div *ngSwitchCase="'game-over'">
    <app-root></app-root>
  </div>
  <div *ngSwitchCase="'overview'">
    <app-overview></app-overview>
  </div>
  <div *ngSwitchCase="'versus'">
    <app-versus
    [dataObj]="dataObj"
    ></app-versus>
  </div>
  <div 
  *ngSwitchCase="'pre-battle'"
  class="parent-prebattle"
  >
    <div 
    *ngIf="this.gymPokemons"
    class="subparent"
    >
      <div *ngIf="this.player2.length>0"
        class="pokeball-container"
        >
        <div *ngFor="let pokemon of this.player2">
          <img alt="" class="pokeballImg" [src]="this.pokeball"
          />
        </div>
      </div>
      <div class="pokemon-container"
      >
        <div *ngFor="let pokemon of this.copyGymPokemons">
          <img
            alt=""
            [src]="pokemon.front_image" />
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="this.player1.length==3;else versus">
        <app-pop-up (battlePrep)="battleReady($event)"></app-pop-up>
      </div>
      <ng-template #versus>
        <h1 style="text-align: center;">VS</h1>
      </ng-template> 
    </div>
    <div 
    *ngIf="this.myPokemons"
    class="subparent"
    >
      <div *ngIf="this.player1.length>0"
        class="pokeball-container"
        >
        <div *ngFor="let pokemon of this.player1">
          <img
          alt=""
          class="pokeballImg"
           [src]="this.pokeball" 
          (click)="this.remove(pokemon)"
          />
        </div>
      </div>
      <div *ngIf="pokemonOverview.length==0" class="pokemon-container"
      >
        <div *ngFor="let pokemon of this.myPokemons">
          <img alt="" (click)="this.pushOverview(pokemon)" [src]="pokemon.front_image" />
        </div>
      </div>
      <div *ngIf="pokemonOverview.length!==0">
        <div style="display: flex; flex-direction: column; justify-content: center;" *ngFor="let pokemon of pokemonOverview">
          <div style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: column; justify-content: center;">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <img [src]="pokemon.front_image" />
                <h5>{{pokemon.name.toLocaleUpperCase()}}</h5>
              </div>
              <div style="    
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-evenly;
              color: white;
              font-size: x-small;
              font-weight: bolder;
              ">
                <div [ngStyle]="{
                  'border-radius': '20px',
                  'border': 'solid black',
                  'text-shadow': '0 0 black',
                  'padding': '5px',
                  'background-color':
                  pokemon.types.typeOne == 'fire' ? 'red' : 
                  pokemon.types.typeOne == 'water' ? 'blue' :
                  pokemon.types.typeOne == 'grass' ? 'green' :
                  pokemon.types.typeOne == 'psychic' ? 'purple' :
                  pokemon.types.typeOne == 'rock' ? 'brown' :
                  pokemon.types.typeOne == 'ground' ? 'brown' :
                  pokemon.types.typeOne == 'fighting' ? 'brown' :
                  pokemon.types.typeOne == 'poison' ? 'violet' :
                  pokemon.types.typeOne == 'dragon' ? 'darkviolet' :
                  pokemon.types.typeOne == 'fairy' ? 'pink' :
                  pokemon.types.typeOne == 'flying' ? 'gray' :
                  pokemon.types.typeOne == 'normal' ? 'gray' :
                  pokemon.types.typeOne == 'dark' ? 'black' : 
                  pokemon.types.typeOne == 'bug' ? 'lightgreen': 
                  pokemon.types.typeOne  == 'ghost' ? 'violet' : 
                  pokemon.types.typeOne  == 'electric' ? '#b1b100' : 'black'
                }
                "
                >{{pokemon.types.typeOne.toLocaleUpperCase()}}</div>
                <div
                  *ngIf="pokemon.types.typeTwo!==undefined"
                  [ngStyle]="{
                    'border-radius': '20px',
                    'border': 'solid black',
                    'text-shadow': '0 0 black',
                    'padding': '5px',
                    'background-color':
                    pokemon.types.typeTwo == 'fire' ? 'red' : 
                    pokemon.types.typeTwo == 'water' ? 'blue' :
                    pokemon.types.typeTwo == 'grass' ? 'green' :
                    pokemon.types.typeTwo == 'psychic' ? 'purple' :
                    pokemon.types.typeTwo == 'rock' ? 'brown' :
                    pokemon.types.typeTwo == 'ground' ? 'brown' :
                    pokemon.types.typeTwo == 'fighting' ? 'brown' :
                    pokemon.types.typeTwo == 'poison' ? 'violet' :
                    pokemon.types.typeTwo == 'dragon' ? 'darkviolet' :
                    pokemon.types.typeTwo == 'fairy' ? 'pink' :
                    pokemon.types.typeTwo == 'flying' ? 'gray' :
                    pokemon.types.typeTwo == 'normal' ? 'gray' :
                    pokemon.types.typeTwo == 'dark' ? 'black' : 
                    pokemon.types.typeTwo == 'bug' ? 'lightgreen': 
                    pokemon.types.typeTwo == 'ghost' ? 'violet' : 
                    pokemon.types.typeTwo  == 'electric' ? '#b1b100' : 'black'
                  }
                  "
                  >{{pokemon.types.typeTwo.toLocaleUpperCase()}}</div>
                </div>
                <div>
                  <h6>Include line up?</h6>
                  <div style="display: flex; flex-direction: row;">
                    <button style="border-radius: 20px;" (click)="this.player1Chosen(pokemon)">YES</button>  
                    <button style="border-radius: 20px;" (click)="this.emptyOverview()">NO</button>
                  </div>
                </div>
              </div>
              <button (click)="toggleSwitch()" style="display: flex; flex-direction: column; justify-content: center;">
                <div *ngIf="switchOn">
                  <h6>STATS</h6>
                  <div *ngFor="let stat of pokemon.stats">
                    <p style="text-align: initial;">{{stat.name}} : {{stat.base_stat}}</p>
                  </div>
                </div>
                <div *ngIf="!switchOn">
                  <h6>MOVES</h6>
                  <div *ngFor="let move of pokemon.moves">
                    <p style="text-align: initial;">{{move.name}} : {{move.power}}</p>
                  </div>
                </div>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-battle 
  [player1]="player1" 
  [player2]="player2"
  [leaderInfo]="leaderInfo"
  (outcomeSubmit)="outcomeBattle($event)"
  *ngSwitchCase="'in-battle'"
  >
  </app-battle>
  <div
  *ngSwitchCase="'new-champion'">
    <div
    class="parent"
    >
      <div class="featuredPokemonParent">
        <div *ngIf="!this.showChampionPokemon">
          <div *ngFor="let pokemon of highlightPokemon">
            <img alt="" style="height:25vh" [src]="pokemon.front_image" />
            <h4>{{pokemon.name.toLocaleUpperCase()}} No. {{pokemon.id}}</h4>
          </div>
        </div>
        <div *ngIf="this.showChampionPokemon" class="allPokemonsParent">
          <p>Congratulations!!!</p>
          <p>You are the new</p>
          <h1>POKEMON MASTER</h1>
          <div class="allPokemons" *ngIf="this.showChampionPokemon">
            <div style="height: 12vh;" *ngFor="let pokemon of myPokemons">
              <img alt="" [src]="pokemon.front_image" />
              <img alt="" style="height: 40px; margin-left: -30px;" src="https://media4.giphy.com/media/8XhEqSstMlwyyseiq0/giphy.gif" />
            </div>
          </div>
          <p>From the bottom of my heart I wanna thank you for giving time to play the game that I created!
          </p>
          <div id="footer">
            <p>Feel free to follow me:</p>
            <a href="https://www.instagram.com/techjoe21/"><img style="width: 8vw;" alt="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" /></a>
          </div>
        </div>
      </div>
      <img 
      *ngIf="this.showChampionPokemon" 
      [ngStyle]="{
        'opacity': this.showChampionPokemon ? '1' : '0',
        'width': '100%' 
      }"
      alt="" 
      src="https://bestanimations.com/media/fireworks/671801409ba-awesome-coloful-fireworks-animated-gif-image-3.gif" />
      <div *ngIf="!this.showChampionPokemon" [ngClass]="this.showChampionPokemon?'':'trophyFalling'">            
        <img 
        src="https://media4.giphy.com/media/8XhEqSstMlwyyseiq0/giphy.gif" 
        alt="" 
        />
      </div>
      <div
      class="pokemonHolder">
        <div class="parentBadge" *ngFor="let gym of this.gymLeaders">
          <img  style="height: 15vh;" alt="" [src]="gym.gymBadge" />
        </div>
      </div>
  </div>
</div>