<div [ngSwitch]="battlePhase">
  <div 
  *ngSwitchCase="'pre-battle'"
  class="parent-prebattle"
  >
    <div 
    *ngIf="this.gymPokemons"
    class="subparent"
    >
      <div *ngIf="this.player2.length>0"
        class="pokeball-container"
        >
        <div *ngFor="let pokemon of this.player2">
          <img alt="" class="pokeballImg" [src]="this.pokeball"
          />
        </div>
      </div>
      <div class="pokemon-container"
      >
        <div *ngFor="let pokemon of this.copyGymPokemons">
          <img
            alt=""
            [src]="pokemon.front_image" />
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="this.player1.length==3;else versus">
        <app-pop-up (battlePrep)="battleReady($event)"></app-pop-up>
      </div>
      <ng-template #versus>
        <h1 style="text-align: center;">VS</h1>
      </ng-template> 
    </div>
    <div 
    *ngIf="this.myPokemons"
    class="subparent"
    >
      <div *ngIf="this.player1.length>0"
        class="pokeball-container"
        >
        <div *ngFor="let pokemon of this.player1">
          <img
          alt=""
          class="pokeballImg"
           [src]="this.pokeball" 
          (click)="this.remove(pokemon)"
          />
        </div>
      </div>
      <div class="pokemon-container"
      >
        <div *ngFor="let pokemon of this.myPokemons">
          <img alt="" (click)="this.player1Chosen(pokemon)" [src]="pokemon.front_image" />
        </div>
      </div>
    </div>
  </div>
  <app-battle 
  [player1]="player1" 
  [player2]="player2"
  [leaderInfo]="leaderInfo"
  (outcomeSubmit)="outcomeBattle($event)"
  *ngSwitchCase="'in-battle'"
  >
  </app-battle>
  <div *ngSwitchCase="'new-champion'">
    <h1>YOU ARE THE CHAMPION</h1>
  </div>
  <div *ngSwitchCase="'game-over'">
    <app-root></app-root>
  </div>
  <div *ngSwitchCase="'overview'">
    <app-overview></app-overview>
  </div>
  <div *ngSwitchCase="'versus'">
    <app-versus
    [dataObj]="dataObj"
    ></app-versus>
  </div>
</div>