<div [ngSwitch]="battlePhase">
  <div 
  *ngSwitchCase="'pre-battle'"
  class="parent-prebattle"
  >
    <div 
    *ngIf="this.gymPokemons"
    class="subparent"
    >
      <div *ngIf="this.player2.length>0"
        class="pokeball-container"
        >
        <div *ngFor="let pokemon of this.player2">
          <img alt="" class="pokeballImg" [src]="this.pokeball"
          />
        </div>
      </div>
      <div class="pokemon-container"
      >
        <div *ngFor="let pokemon of this.copyGymPokemons">
          <img
            alt=""
            [src]="pokemon.front_image" />
        </div>
      </div>
    </div>
    <div>
      <div *ngIf="this.player1.length==3;else versus">
        <app-pop-up (battlePrep)="battleReady($event)"></app-pop-up>
      </div>
      <ng-template #versus>
        <h1 style="text-align: center;">VS</h1>
      </ng-template> 
    </div>
    <div 
    *ngIf="this.myPokemons"
    class="subparent"
    >
      <div *ngIf="this.player1.length>0"
        class="pokeball-container"
        >
        <div *ngFor="let pokemon of this.player1">
          <img
          alt=""
          class="pokeballImg"
           [src]="this.pokeball" 
          (click)="this.remove(pokemon)"
          />
        </div>
      </div>
      <div *ngIf="pokemonOverview.length==0" class="pokemon-container"
      >
        <div *ngFor="let pokemon of this.myPokemons">
          <img alt="" (click)="this.pushOverview(pokemon)" [src]="pokemon.front_image" />
        </div>
      </div>
      <div *ngIf="pokemonOverview.length!==0">
        <div style="display: flex; flex-direction: column; justify-content: center;" *ngFor="let pokemon of pokemonOverview">
          <div style="display: flex; flex-direction: row;">
            <div style="display: flex; flex-direction: column; justify-content: center;">
              <div style="display: flex; flex-direction: column; justify-content: center;">
                <img [src]="pokemon.front_image" />
                <h5>{{pokemon.name.toLocaleUpperCase()}}</h5>
              </div>
              <div style="    
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-evenly;
              color: white;
              font-size: x-small;
              font-weight: bolder;
              ">
                <div [ngStyle]="{
                  'border-radius': '20px',
                  'border': 'solid black',
                  'text-shadow': '0 0 black',
                  'padding': '5px',
                  'background-color':
                  pokemon.types.typeOne == 'fire' ? 'red' : 
                  pokemon.types.typeOne == 'water' ? 'blue' :
                  pokemon.types.typeOne == 'grass' ? 'green' :
                  pokemon.types.typeOne == 'psychic' ? 'purple' :
                  pokemon.types.typeOne == 'rock' ? 'brown' :
                  pokemon.types.typeOne == 'ground' ? 'brown' :
                  pokemon.types.typeOne == 'fighting' ? 'brown' :
                  pokemon.types.typeOne == 'poison' ? 'violet' :
                  pokemon.types.typeOne == 'dragon' ? 'darkviolet' :
                  pokemon.types.typeOne == 'fairy' ? 'pink' :
                  pokemon.types.typeOne == 'flying' ? 'gray' :
                  pokemon.types.typeOne == 'normal' ? 'gray' :
                  pokemon.types.typeOne == 'dark' ? 'black' : 
                  pokemon.types.typeOne == 'bug' ? 'lightgreen': 
                  pokemon.types.typeOne  == 'ghost' ? 'violet' : 
                  pokemon.types.typeOne  == 'electric' ? '#b1b100' : 'black'
                }
                "
                >{{pokemon.types.typeOne.toLocaleUpperCase()}}</div>
                <div
                  *ngIf="pokemon.types.typeTwo!==undefined"
                  [ngStyle]="{
                    'border-radius': '20px',
                    'border': 'solid black',
                    'text-shadow': '0 0 black',
                    'padding': '5px',
                    'background-color':
                    pokemon.types.typeTwo == 'fire' ? 'red' : 
                    pokemon.types.typeTwo == 'water' ? 'blue' :
                    pokemon.types.typeTwo == 'grass' ? 'green' :
                    pokemon.types.typeTwo == 'psychic' ? 'purple' :
                    pokemon.types.typeTwo == 'rock' ? 'brown' :
                    pokemon.types.typeTwo == 'ground' ? 'brown' :
                    pokemon.types.typeTwo == 'fighting' ? 'brown' :
                    pokemon.types.typeTwo == 'poison' ? 'violet' :
                    pokemon.types.typeTwo == 'dragon' ? 'darkviolet' :
                    pokemon.types.typeTwo == 'fairy' ? 'pink' :
                    pokemon.types.typeTwo == 'flying' ? 'gray' :
                    pokemon.types.typeTwo == 'normal' ? 'gray' :
                    pokemon.types.typeTwo == 'dark' ? 'black' : 
                    pokemon.types.typeTwo == 'bug' ? 'lightgreen': 
                    pokemon.types.typeTwo == 'ghost' ? 'violet' : 
                    pokemon.types.typeTwo  == 'electric' ? '#b1b100' : 'black'
                  }
                  "
                  >{{pokemon.types.typeTwo.toLocaleUpperCase()}}</div>
                </div>
                <div>
                  <h6>Include line up?</h6>
                  <div style="display: flex; flex-direction: row;">
                    <button style="border-radius: 20px;" (click)="this.player1Chosen(pokemon)">YES</button>  
                    <button style="border-radius: 20px;" (click)="this.emptyOverview()">NO</button>
                  </div>
                </div>
              </div>
              <button (click)="toggleSwitch()" style="display: flex; flex-direction: column; justify-content: center;">
                <div *ngIf="switchOn">
                  <h6>STATS</h6>
                  <div *ngFor="let stat of pokemon.stats">
                    <p style="text-align: initial;">{{stat.name}} : {{stat.base_stat}}</p>
                  </div>
                </div>
                <div *ngIf="!switchOn">
                  <h6>MOVES</h6>
                  <div *ngFor="let move of pokemon.moves">
                    <p style="text-align: initial;">{{move.name}} : {{move.power}}</p>
                  </div>
                </div>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-battle 
  [player1]="player1" 
  [player2]="player2"
  [leaderInfo]="leaderInfo"
  (outcomeSubmit)="outcomeBattle($event)"
  *ngSwitchCase="'in-battle'"
  >
  </app-battle>
  <div
  *ngSwitchCase="'new-champion'">
    <div
    style="display: flex; flex-direction: column; text-align: center;"
    >
      <div
      style="
      display: flex;
      flex-direction: row;
      padding-top: 5vh;
      flex-wrap: wrap;
      align-items: center;
      position: absolute;
      z-index: -1;"
      >
        <div *ngFor="let gym of this.gymLeaders">
          <img  style="height: 15vh;" alt="" [src]="gym.gymBadge" />
        </div>
      </div>
      <div>
        <h1>YOU ARE THE CHAMPION</h1>
        <div>
          <div *ngFor="let pokemon of myPokemons">
            <img style="height: 12vh;" alt="" [src]="pokemon.front_image" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="'game-over'">
    <app-root></app-root>
  </div>
  <div *ngSwitchCase="'overview'">
    <app-overview></app-overview>
  </div>
  <div *ngSwitchCase="'versus'">
    <app-versus
    [dataObj]="dataObj"
    ></app-versus>
  </div>
</div>