.parent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  align-items: center;

  .pokemonHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    position: relative;
  }


  .avatarParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
  }
}