.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 80vh;
  overflow-y: scroll;
}

.parent{
  background: var(--background-color); 
  height: 100vh;

  .sub-parent{
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.idleAnimationPlayer{
  animation-name: idlenpc;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  -webkit-transition: all 0.9s ease;
     -moz-transition: all 0.9s ease;
       -o-transition: all 0.9s ease;
          transition: all 0.9s ease;
  animation-direction: alternate;
}

@keyframes idlenpc {
  50%{
    transform: rotateZ(-2deg);
  }
  55%{
    transform: rotateZ(0deg);
  }
 }