<app-openning *ngIf="gameLoading"></app-openning>
<div *ngIf="!gameLoading" class="parent">
  <div class="sub-parent" 
  *ngIf="toDisplayPokemon.length!==0&&clickedPokemon">
    <div style="    
    position: absolute;
    padding: 2vh 10vw;
    padding-bottom: 5vh;
    background: var(--background-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    " 
    *ngFor="let displayPokemon of toDisplayPokemon">
    <div style="    
    background-color: palevioletred;
    padding: 3vh;
    border-radius: 20px;
    border: 5px solid #ffffffd1;"
    >
      <h6>Add this pokemon?</h6>
      <div style="display: flex; flex-direction: row; justify-content: center;">
        <button *ngIf="displayPokemon.back_image!=null" style="border-radius: 20px; margin-right: 30px;" (click)="chosenPokemon(pokemon)">YES</button>  
        <button style="border-radius: 20px;" (click)="emptyDisplay()">NO</button>
      </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
          <div style="    
          height: 20vh;
          display: flex;
          justify-content: center;">
            <img [src]="pokemon.front_image" />
          </div>
          <h5 style="font-weight: bold;">{{pokemon.name.toLocaleUpperCase()}}</h5>
          <div style="    
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          color: white;
          font-size: x-small;
          font-weight: bolder;
          ">
            <div [ngStyle]="{
              'text-shadow': '0 0 black',
              'font-weight': 'bold',
              'padding': '5px',
              'font-size': '8pt',
              'color':
              pokemon.types.typeOne == 'fire' ? 'red' : 
              pokemon.types.typeOne == 'water' ? 'blue' :
              pokemon.types.typeOne == 'grass' ? 'green' :
              pokemon.types.typeOne == 'psychic' ? 'purple' :
              pokemon.types.typeOne == 'rock' ? 'brown' :
              pokemon.types.typeOne == 'ground' ? 'brown' :
              pokemon.types.typeOne == 'fighting' ? 'brown' :
              pokemon.types.typeOne == 'poison' ? 'violet' :
              pokemon.types.typeOne == 'dragon' ? 'darkviolet' :
              pokemon.types.typeOne == 'fairy' ? 'pink' :
              pokemon.types.typeOne == 'flying' ? 'gray' :
              pokemon.types.typeOne == 'normal' ? 'gray' :
              pokemon.types.typeOne == 'dark' ? 'black' : 
              pokemon.types.typeOne == 'bug' ? 'lightgreen': 
              pokemon.types.typeOne  == 'ghost' ? 'violet' : 
              pokemon.types.typeOne  == 'electric' ? '#b1b100' : 'black'
            }
            "
            >{{pokemon.types.typeOne.toLocaleUpperCase()}}</div>
            <div
              *ngIf="pokemon.types.typeTwo!==undefined"
              [ngStyle]="{
                'text-shadow': '0 0 black',
                'font-weight': 'bold',
                'padding': '5px',
                'font-size': '8pt',
                'color':
                pokemon.types.typeTwo == 'fire' ? 'red' : 
                pokemon.types.typeTwo == 'water' ? 'blue' :
                pokemon.types.typeTwo == 'grass' ? 'green' :
                pokemon.types.typeTwo == 'psychic' ? 'purple' :
                pokemon.types.typeTwo == 'rock' ? 'brown' :
                pokemon.types.typeTwo == 'ground' ? 'brown' :
                pokemon.types.typeTwo == 'fighting' ? 'brown' :
                pokemon.types.typeTwo == 'poison' ? 'violet' :
                pokemon.types.typeTwo == 'dragon' ? 'darkviolet' :
                pokemon.types.typeTwo == 'fairy' ? 'pink' :
                pokemon.types.typeTwo == 'flying' ? 'gray' :
                pokemon.types.typeTwo == 'normal' ? 'gray' :
                pokemon.types.typeTwo == 'dark' ? 'black' : 
                pokemon.types.typeTwo == 'bug' ? 'lightgreen': 
                pokemon.types.typeTwo == 'ghost' ? 'violet' : 
                pokemon.types.typeTwo  == 'electric' ? '#b1b100' : 'black'
              }
              "
              >{{pokemon.types.typeTwo.toLocaleUpperCase()}}</div>
            </div>
            <div>
              <div>
                <div *ngFor="let stat of pokemon.stats">
                  <p style="text-align: initial; margin: 5px 0;">{{stat.name}} : {{stat.base_stat}}</p>
                  <div
                  [style]="{
                  'background-color': 'green',
                  'height': '1vh',
                  'position': 'relative',
                  'width': ((stat.base_stat/180)*100).toString()+'%'
                  }
                  "
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="myPokemons&&!clickedPokemon">
    <span *ngFor="let pokemon of myPokemons">
      <img alt="" class="idleAnimationPlayer" style="width: 15%;" [src]="pokemon.front_image" (click)="removePokemon(pokemon.id)"/>
    </span>
  </div>
  <div style="display: flex; flex-direction: row; justify-content: center;">
    <div *ngFor="let region of regionArr">
      <button (click)="getRegion(region)">{{region}}</button>
    </div>
  </div>
  <div *ngIf="regionPokemons.length==0" 
    style="   
    padding: 2vh 5vw;
    text-align:justify;
    color: white;
    "
    >
    <h2>Main objectives</h2>
    <div style="text-align: left; padding-left: 5px; padding-bottom: 5vh;">
      <p>- Become the pokemon Champion</p>
      <p>- Defeat all the gym leaders</p>
      <p>- Defeat Champion Ash</p>
      <p>- Have fun!</p>
    </div>
    <h6>Sub objectives</h6>
    <div style="text-align: left; padding-left: 5px;">
      <p>- Choose 6 pokemons</p>
      <p>- Choose 4 moves in every 6 pokemon</p>
      <p>- Choose 3 pokemon to battle</p>
    </div>
  </div>
  <div class="pokemon-list" *ngIf="regionPokemons">
    <span *ngFor="let pokemon of regionPokemons">
        <img style="border: 1px solid black; background-color: palevioletred;" alt="" [src]="pokemon.url" (click)="displayPokemon(pokemon.id)" />
    </span>
  </div>
</div>